* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header nav{
  display: flex;
  justify-content: space-around;
}

footer {
  margin: auto;
  margin-bottom: 0;
}